button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
    transition: 0.3s;
}

.cambio-color {
    background-color: red;
    color: white;
}

.girar {
    animation: vuelta 1s linear infinite;
}

@keyframes vuelta {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
